### working with csv's

In [28]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [29]:
flnm = 'data/distance_data_headers.csv'
# data = numpy.genfromtxt(flnm, delimiter=',', skip_)
d = pd.read_csv(flnm)
# d.head()

In [30]:
d.describe()

             Frame      THR4_ATP      THR4_ASP      TYR6_ATP      TYR6_ASP
count  10000.00000  10000.000000  10000.000000  10000.000000  10000.000000
mean    5000.50000     10.876951      7.342345     11.209791     10.993443
std     2886.89568      2.676669      0.995629      2.367468      1.058657
min        1.00000      5.741600      3.606100      5.707900      7.855700
25%     2500.75000      8.740850      6.739650      9.560125     10.299925
50%     5000.50000     10.775950      7.410700     10.894250     10.880550
75%     7500.25000     12.892300      7.976450     12.921500     11.574075
max    10000.00000     19.480000     10.816900     18.932300     15.006500

In [31]:
avg = np.mean(data, axis=0)
avg

Frame       5000.500000
THR4_ATP      10.876951
THR4_ASP       7.342345
TYR6_ATP      11.209791
TYR6_ASP      10.993443
dtype: float64

In [32]:
data.mean()

Frame       5000.500000
THR4_ATP      10.876951
THR4_ASP       7.342345
TYR6_ATP      11.209791
TYR6_ASP      10.993443
dtype: float64

In [33]:
plt.figure()
plt.plot(data[1])
plt.show()

AttributeError: module 'matplotlib' has no attribute 'figure'